.env
.env.*
!.env.example
venv/
ENV/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
cython_debug/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/staticfiles/
/static/
media/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Editors and IDEs
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
